<%- include('./partials/header') %>
<%- include('./Navbar') %>


<div class="container w-50 p-3 border text-center ">
<form action="/insertData" method="post" enctype="multipart/form-data"> 
    <div class="form-row align-items-center">
        <h1>Registration Form</h1> <br/>
        
        <div class="row">
            <div class="col">
            <input type="file" name="image">
            </div>
            <div class="col">
            <h3>Name</h3>
            <input type="text" name="name" placeholder="Name">
            <h3>Email</h3>
            <input type="email" name="email" placeholder="Email"><br/><br/>
            <h3>Phone</h3>
            <input type="text" name="phone" placeholder="Phone">
            <h3>City</h3>
            <input type="text" name="city" placeholder="City">
            <h3>Passcode</h3>
            <input type="text" name="passcode" placeholder="Passcode">
            </div>
        </div>
        
        
        <br/>
        <br/>
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
</form>
</div>


<%- include('./partials/footer') %>